**/src
**/sql
**/wiki
**/lang
**/srv
**/samples
**/lib

**secret**
**private**
.remote*
.tmp.*
.vs
/config.json
/api.json
/config.yaml
/openapi.json
/openapi.yaml
**node_modules**
**data*.json
*[a-zA-Z][0-9].js
*[a-zA-Z][0-9].css
*[a-zA-Z][0-9].html
*[a-zA-Z][0-9].yaml
*[a-zA-Z][0-9].md
*[a-zA-Z][0-9].php
*[a-zA-Z][0-9].bat
publish.bat



**/modules
**/data
**/tools
**/app
**/docs
**/sql
**/ms
**/theme
package-lock.json
/docs


**/mcp23017
**/i2c
**/go
**/vms
**/three
**/lang
**/min



__**
copy\b**
**kopie**

**.mp4
**.bak
**.log
**.pdf
**.zip

**.doc
**.docx

**dcu**
**~**
**sitemap**
**desktop**
cert/**
/js/min
/api/sql
/inc
/sites
/wav
/aim
/aim-connect
/aim-api
/test
/dev
/tmp
/google**
/**htaccess**
/shared
