<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="4294967295" />
				<denyUrlSequences>
					<add sequence="secret" />
					<add sequence=".." />
					<add sequence=":" />
					<add sequence="\" />
				</denyUrlSequences>
			</requestFiltering>
		</security>
		<rewrite>
			<rules>
				<rule name="MonitoringSystemWebservice" stopProcessing="true">
					<match url="^MonitoringSystemWebservice(.*)" />
					<action type="Rewrite" url="/sites/dms/api/v1/index.php" appendQueryString="true" />
				</rule>
				<rule name="aliconrc" stopProcessing="true">
					<match url="^(rc)(.*)" />
				</rule>
				<rule name="https" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{HTTPS}" pattern="^OFF$" />
						<add input="{HTTP_HOST}{REQUEST_URI}" pattern="aliconnect.nl/" />
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" />
				</rule>

				<rule name="AIM VERSION 0 api" stopProcessing="true">
					<match url="(^[a-zA-Z0-9.]+?)/(v[a-zA-Z0-9.]+)/api/(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/{R:2}/api/index.php" appendQueryString="true" />
				</rule>
				<rule name="AIM VERSION 0 app" stopProcessing="true">
					<match url="(^[a-zA-Z0-9.]+?)/(v[a-zA-Z0-9.]+)/(api|app|lib|auth)/(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/{R:2}/{R:3}/{R:4}" appendQueryString="true" />
				</rule>
				<rule name="AIM VERSION 0 auth" stopProcessing="true">
					<match url="^(auth)(.*)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/aim/v1/app/auth{R:2}" appendQueryString="true" />
				</rule>

				<rule name="AIM Domain to sites folder">
					<match url="(.+)" />
					<conditions>
						<add input="{HTTP_HOST}" pattern="^(.+?)\." />
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="/sites/{C:1}/{R:1}" appendQueryString="true" />
				</rule>
				<rule name="AIM Default api|dapi all">
					<match url="(api|dapi)(.*)"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="v1/{R:1}{R:2}" appendQueryString="true" />
				</rule>
				<rule name="AIM Version n /api|docs|dom|om to vn/root folder" stopProcessing="true">
					<match url="(^|.*\/?)([v][0-9].*?)\/(api|docs|dom|om)($|\/)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="{R:2}/{R:3}/index.php" appendQueryString="true" />
				</rule>
				<rule name="AIM NoVersion /api|docs|dom|om to v1/root folder" stopProcessing="true">
					<match url="(^|.*\/)(api|docs|dom|om)($|\/)" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
					</conditions>
					<action type="Rewrite" url="v1/{R:2}/?" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
		<httpProtocol>
			<customHeaders>
				<clear />
			</customHeaders>
		</httpProtocol>
		<staticContent>
			<remove fileExtension=".log" />
			<mimeMap fileExtension=".log" mimeType="text/plain; charset=utf-8" />
			<remove fileExtension=".md" />
			<mimeMap fileExtension=".md" mimeType="text/markdown" />
			<remove fileExtension=".yml" />
			<mimeMap fileExtension=".yml" mimeType="text/plain; charset=utf-8" />
			<remove fileExtension=".yaml" />
			<mimeMap fileExtension=".yaml" mimeType="text/plain; charset=utf-8" />
			<remove fileExtension=".obj" />
			<mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
			<remove fileExtension=".3ds" />
			<mimeMap fileExtension=".3ds" mimeType="model/3ds_binary" />
		</staticContent>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
			</files>
		</defaultDocument>
	</system.webServer>
	<location path="shared">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*" />
				</customHeaders>
			</httpProtocol>
			<handlers accessPolicy="Read" />
		</system.webServer>
	</location>
	<location path="sites">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Access-Control-Allow-Origin" value="*" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
	<location path="lib/js/sw.js">
		<system.webServer>
			<httpProtocol>
				<customHeaders>
					<add name="Service-Worker-Allowed" value="/" />
				</customHeaders>
			</httpProtocol>
		</system.webServer>
	</location>
</configuration>
