html {
  --basebg: linear-gradient(to right, rgb(66,133,244), rgb(52,168,83));
  --basefg: white;
  --link: rgb(66,133,244);
  --header-color: rgb(52,168,83);
  --header-font-family: "Segoe UI Light";
}
