
@font-face {
  font-family: 'AliconnectIcon';
  src:
  /* url('../../lib/fonts/aliconnecticon.eot') format('embedded-opentype'),  */
  url('../../api/lib/fonts/aliconnecticon.woff') format('woff'),
  url('../../api/lib/fonts/aliconnecticon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.abtn.folder::before {content:'\f0d9';}.icn.folder::before {content:'\f0d9';}
.abtn.folderadd::before {content:'\f0dc';}.icn.folderadd::before {content:'\f0dc';}
.abtn.folderrefresh::before {content:'\f0de';}.icn.folderrefresh::before {content:'\f0de';}
.abtn.folderupload::before {content:'\f0da';}.icn.folderupload::before {content:'\f0da';}
.abtn.folderimport::before {content:'\f0db';}.icn.folderimport::before {content:'\f0db';}

.abtn.camera::before {content:'\f100';}.icn.camera::before {content:'\f100';}
.abtn.switchcamera::before {content:'\f102';}.icn.switchcamera::before {content:'\f102';}
.abtn.msg::before {content:'\f08e';}.icn.msg::before {content:'\f08e';}
.abtn.aliconnect::before {content:'\f000';}.icn.aliconnect::before {content:'\f000';}
.abtn.menu::before {content:'\f05c';}.icn.menu::before {content:'\f05c';}
.abtn.tools::before {content:'\f01a';}.icn.tools::before {content:'\f01a';}
.abtn.config::before {content:'\f019';}.icn.config::before {content:'\f019';}
.abtn.help::before {content:'\f02e';}.icn.help::before {content:'\f02e';}
.abtn.print::before {content:'\f0ad';}.icn.print::before {content:'\f0ad';}
.abtn.printmenu::before {content:'\f11f';}.icn.printmenu::before {content:'\f11f';}
.abtn.printdoc::before {content:'\f11f';}.icn.printdoc::before {content:'\f11f';}
.abtn.login::before {content:'\f25b';}.icn.login::before {content:'\f25b';}
.abtn.logout::before {content:'\f25c';}.icn.logout::before {content:'\f25c';}
.abtn.network::before {content:'\f1cf';}.icn.network::before {content:'\f1cf';}
.abtn.undo::before {content:'\f023';}.icn.undo::before {content:'\f023';}
.abtn.redo::before {content:'\f024';}.icn.redo::before {content:'\f024';}
.abtn.cut::before {content:'\f00f';}.icn.cut::before {content:'\f00f';}
.abtn.copy::before {content:'\f00e';}.icn.copy::before {content:'\f00e';}
.abtn.paste::before {content:'\f011';}.icn.paste::before {content:'\f011';}
.abtn.clean::before {content:'\f162';}.icn.clean::before {content:'\f162';}
.abtn.bold::before {content:'\f030';}.icn.bold::before {content:'\f030';}
.abtn.italic::before {content:'\f031';}.icn.italic::before {content:'\f031';}
.abtn.underline::before {content:'\f02f';}.icn.underline::before {content:'\f02f';}
.abtn.strikeThrough::before {content:'\f236';}.icn.strikeThrough::before {content:'\f236';}
.abtn.fontsize::before {content:'\f1db';}.icn.fontsize::before {content:'\f1db';}
.abtn.fontname::before {content:'\f4b1';}.icn.fontname::before {content:'\f4b1';}
.abtn.switchMode::before {content:'\f545';}.icn.switchMode::before {content:'\f545';}
.abtn.removeFormat::before {content:'\f037';}.icn.removeFormat::before {content:'\f037';}
.abtn.insertorderedlist::before {content:'\f0ff';}.icn.insertorderedlist::before {content:'\f0ff';}
.abtn.insertunorderedlist::before {content:'\f066';}.icn.insertunorderedlist::before {content:'\f066';}
.abtn.justifyleft::before {content:'\f06b';}.icn.justifyleft::before {content:'\f06b';}
.abtn.justifycenter::before {content:'\f06a';}.icn.justifycenter::before {content:'\f06a';}
.abtn.justifyright::before {content:'\f069';}.icn.justifyright::before {content:'\f069';}
.abtn.justifyfull::before {content:'\f4f2';}.icn.justifyfull::before {content:'\f4f2';}
.abtn.indent::before {content:'\f062';}.icn.indent::before {content:'\f062';}
.abtn.outdent::before {content:'\f061';}.icn.outdent::before {content:'\f061';}
.abtn.superscript::before {content:'\f238';}.icn.superscript::before {content:'\f238';}
.abtn.subscript::before {content:'\f239';}.icn.subscript::before {content:'\f239';}
.abtn.blockquote::before {content:'\f4a4';}.icn.blockquote::before {content:'\f4a4';}
.abtn.code::before {content:'\f237';}.icn.code::before {content:'\f237';}
.abtn.hyperlink::before {content:'\f015';}.icn.hyperlink::before {content:'\f015';}
.abtn.unlink::before {content:'\f22b';}.icn.unlink::before {content:'\f22b';}
.abtn.forecolor::before {content:'\f036';}.icn.forecolor::before {content:'\f036';}
.abtn.backcolor::before {content:'\f15f';}.icn.backcolor::before {content:'\f15f';}
.abtn.view::before {content:'\f0d4';}.icn.view::before {content:'\f0d4';}
.abtn.dark::before {content:'\f333';}.icn.dark::before {content:'\f333';}
.abtn.history::before {content:'\f07b';}.icn.history::before {content:'\f07b';}
.abtn.pin::before {content:'\f09f';}.icn.pin::before {content:'\f09f';}
.abtn.unpin::before {content:'\f0a1';}.icn.unpin::before {content:'\f0a1';}
.abtn.slide::before {content:'\f1ab';}.icn.slide::before {content:'\f1ab';}
.abtn.cols::before {content:'\f0c8';}.icn.cols::before {content:'\f0c8';}
.abtn.grid::before {content:'\f0c8';}.icn.grid::before {content:'\f0c8';}
.abtn.rows::before {content:'\f05e';}.icn.rows::before {content:'\f05e';}
.abtn.table::before {content:'\f06b';}.icn.table::before {content:'\f06b';}
.abtn.ganth::before {content:'\f39d';}.icn.ganth::before {content:'\f39d';}
.abtn.chart::before {content:'\f226';}.icn.chart::before {content:'\f226';}
.abtn.model::before {content:'\f1cf';}.icn.model::before {content:'\f1cf';}
.abtn.maps::before {content:'\f093';}.icn.maps::before {content:'\f093';}
.abtn.model3d::before {content:'\f0fe';}.icn.model3d::before {content:'\f0fe';}
.abtn.model2d::before {content:'\f0fd';}.icn.model2d::before {content:'\f0fd';}
.abtn.show3d::before {content:'\f0fe';}.icn.show3d::before {content:'\f0fe';}
.abtn.search::before {content:'\f018';}.icn.search::before {content:'\f018';}
.abtn.filter::before {content:'\f012';}.icn.filter::before {content:'\f012';}
.abtn.refresh::before {content:'\f082';}.icn.refresh::before {content:'\f082';}
.abtn.sort::before {content:'\f322';}.icn.sort::before {content:'\f322';}
.abtn.sorta::before {content:'\f333';}.icn.sorta::before {content:'\f333';}
.abtn.add::before {content:'\f025';}.icn.add::before {content:'\f025';}
.abtn.data::before {content:'\f123';}.icn.data::before {content:'\f123';}
.abtn.datareadonly::before {content:'\f124';}.icn.datareadonly::before {content:'\f124';}
.abtn.dataprivate::before {content:'\f125';}.icn.dataprivate::before {content:'\f125';}
.abtn.checked::before {content:'\f06c';}.icn.checked::before {content:'\f06c';}
.abtn.box::before {content:'\f071';}.icn.box::before {content:'\f071';}
.abtn.boxchecked::before {content:'\f06f';}.icn.boxchecked::before {content:'\f06f';}
.abtn.image::before {content:'\f014';}.icn.image::before {content:'\f014';}
.abtn.attach::before {content:'\f013';}.icn.attach::before {content:'\f013';}
.abtn.hyperlink::before {content:'\f015';}.icn.hyperlink::before {content:'\f015';}
.abtn.link::before {content:'\f015';}.icn.link::before {content:'\f015';}
.abtn.attribute::before {content:'\f0fa';}.icn.attribute::before {content:'\f0fa';}
.abtn.device::before {content:'\f173';}.icn.device::before {content:'\f173';}
.abtn.close::before {content:'\f021';}.icn.close::before {content:'\f021';}
.abtn.popout::before {content:'\f152';}.icn.popout::before {content:'\f152';}
.abtn.popin::before {content:'\f151';}.icn.popin::before {content:'\f151';}
.abtn.public::before {content:'\f108';}.icn.public::before {content:'\f108';}
.abtn.trash::before {content:'\f233';}.icn.trash::before {content:'\f233';}
.abtn.share::before {content:'\f12b';}.icn.share::before {content:'\f12b';}
.abtn.save::before {content:'\f00c';}.icn.save::before {content:'\f00c';}
.abtn.fdit::before {content:'\f00b';}.icn.fdit::before {content:'\f00b';}
.abtn.fditfile::before {content:'\f00b';}.icn.fditfile::before {content:'\f00b';}
.abtn.del::before {content:'\f00d';}.icn.del::before {content:'\f00d';}
.abtn.fav::before {content:'\f002';}.icn.fav::before {content:'\f002';}
.abtn.favchecked::before {content:'\f001';}.icn.favchecked::before {content:'\f001';}
.abtn.mail::before {content:'\f0b4';}.icn.mail::before {content:'\f0b4';}
.abtn.mail_read::before {content:'\f0b5';}.icn.mail_read::before {content:'\f0b5';}
.abtn.mail_forward::before {content:'\f0b6';}.icn.mail_forward::before {content:'\f0b6';}
.abtn.mail_reply::before {content:'\f0b7';}.icn.mail_reply::before {content:'\f0b7';}
.abtn.mail_replyall::before {content:'\f0b8';}.icn.mail_replyall::before {content:'\f0b8';}
.abtn.mailimport::before {content:'\f27f';}.icn.mailimport::before {content:'\f27f';}
.abtn.send::before {content:'\f08b';}.icn.send::before {content:'\f08b';}
.abtn.sendchecked::before {content:'\f08c';}.icn.sendchecked::before {content:'\f08c';}
.abtn.sendhover::before {content:'\f08c';}.icn.sendhover::before {content:'\f08c';}

.abtn.clone::before {content:'\f14d';}.icn.clone::before {content:'\f14d';}
.abtn.revert::before {content:'\f14d';}.icn.revert::before {content:'\f14d';}
.abtn.showInherited::before {content:'\f14a';}.icn.showInherited::before {content:'\f14a';}

.abtn.derived::before {content:'\f14c';}.icn.derived::before {content:'\f14c';}
.abtn.typical::before {content:'\f153';}.icn.typical::before {content:'\f153';}
.abtn.class::before {content:'\f153';}.icn.class::before {content:'\f153';}
.abtn.source::before {content:'\f14b';}.icn.source::before {content:'\f14b';}
.abtn.inherit::before {content:'\f14c';}.icn.inherit::before {content:'\f14c';}

.abtn.up::before {content:'\f01c';}.icn.up::before {content:'\f01c';}
.abtn.down::before {content:'\f01d';}.icn.down::before {content:'\f01d';}
.abtn.arrowLeft::before {content:'\f03f';}.icn.arrowLeft::before {content:'\f03f';}
.abtn.arrowRight::before {content:'\f040';}.icn.arrowRight::before {content:'\f040';}
.abtn.back::before {content:'\f01e';}.icn.back::before {content:'\f01e';}
.abtn.previous::before {content:'\f01e';}.icn.previous::before {content:'\f01e';}
.abtn.prior::before {content:'\f01e';}.icn.prior::before {content:'\f01e';}
.abtn.next::before {content:'\f01f';}.icn.next::before {content:'\f01f';}
.abtn.task::before {content:'\f010';}.icn.task::before {content:'\f010';}
.abtn.taskboard::before {content:'\f011';}.icn.taskboard::before {content:'\f011';}
.abtn.flag::before {content:'\f095';}.icn.flag::before {content:'\f095';}
.abtn.flagcheck::before {content:'\f095';}.icn.flagcheck::before {content:'\f095';}
.abtn.calendar::before {content:'\f0e4';}.icn.calendar::before {content:'\f0e4';}
.abtn.today::before {content:'\f0e5';}.icn.today::before {content:'\f0e5';}
.abtn.day::before {content:'\f0e6';}.icn.day::before {content:'\f0e6';}
.abtn.week::before {content:'\f0e2';}.icn.week::before {content:'\f0e2';}
.abtn.workweek::before {content:'\f0e7';}.icn.workweek::before {content:'\f0e7';}
.abtn.month::before {content:'\f0e4';}.icn.month::before {content:'\f0e4';}
.abtn.clock::before {content:'\f13b';}.icn.clock::before {content:'\f13b';}
.abtn.clockfinsih::before {content:'\f13c';}.icn.clockfinsih::before {content:'\f13c';}
.abtn.done::before {content:'\f140';}.icn.done::before {content:'\f140';}
.abtn.onoff::before {content:'\f13b';}.icn.onoff::before {content:'\f13b';}
.abtn.overdue::before {content:'\f13e';}.icn.overdue::before {content:'\f13e';}
.abtn.start::before {content:'\f017';}.icn.start::before {content:'\f017';}
.abtn.blockContact::before {content:'\f0ef';}.icn.blockContact::before {content:'\f0ef';}
.abtn.permissions::before {content:'\f0a4';}.icn.permissions::before {content:'\f0a4';}
.abtn.private::before {content:'\F38F';}.icn.private::before {content:'\F38F';}
.abtn.lock::before {content:'\f0a2';}.icn.lock::before {content:'\f0a2';}
.abtn.unlock::before {content:'\f0a3';}.icn.unlock::before {content:'\f0a3';}
.abtn.www::before {content:'\f12c';}.icn.www::before {content:'\f12c';}
.abtn.website::before {content:'\f12c';}.icn.website::before {content:'\f12c';}
.abtn.webpage::before {content:'\f12c';}.icn.webpage::before {content:'\f12c';}
.abtn.shop::before {content:'\f0b0';}.icn.shop::before {content:'\f0b0';}
.abtn.bagAdd::before {content:'\f0b1';}.icn.bagAdd::before {content:'\f0b1';}
.abtn.shopbag::before {content:'\f0b3';}.icn.shopbag::before {content:'\f0b3';}
.abtn.po::before {content:'\f0b3';}.icn.po::before {content:'\f0b3';}
.abtn.kassa::before {content:'\f0ae';}.icn.kassa::before {content:'\f0ae';}
.abtn.scanner::before {content:'\f0b2';}.icn.scanner::before {content:'\f0b2';}
.abtn.invoice::before {content:'\f0af';}.icn.invoice::before {content:'\f0af';}


.abtn.edit::before {content:'\f00b';}.icn.edit::before {content:'\f00b';}
.abtn.phone::before {content:'\f112';}.icn.phone::before {content:'\f112';}
.abtn.mobile::before {content:'\f112';}.icn.mobile::before {content:'\f112';}
.abtn.alert::before {content:'\f10c';}.icn.alert::before {content:'\f10c';}
.abtn.form::before {content:'\f0fa';}.icn.form::before {content:'\f0fa';}
.abtn.input::before {content:'\f0fa';}.icn.input::before {content:'\f0fa';}
.abtn.contact::before {content:'\f0f1';}.icn.contact::before {content:'\f0f1';}
.abtn.contactadd::before {content:'\f0f0';}.icn.contactadd::before {content:'\f0f0';}
.abtn.contactblock::before {content:'\f0ef';}.icn.contactblock::before {content:'\f0ef';}
.abtn.contactstop::before {content:'\f0ee';}.icn.contactstop::before {content:'\f0ee';}
.abtn.contactcard::before {content:'\f0ec';}.icn.contactcard::before {content:'\f0ec';}
.abtn.contactmessage::before {content:'\f0f3';}.icn.contactmessage::before {content:'\f0f3';}
.abtn.company::before {content:'\f0eb';}.icn.company::before {content:'\f0eb';}
.abtn.organisation::before {content:'\f0eb';}.icn.organisation::before {content:'\f0eb';}
.abtn.group::before {content:'\f0eb';}.icn.group::before {content:'\f0eb';}
.abtn.helpPage::before {content:'\f02e';}.icn.helpPage::before {content:'\f02e';}
.abtn.contactsync::before {content:'\f0e6';}.icn.contactsync::before {content:'\f0e6';}
.abtn.download::before {content:'\f048';}.icn.download::before {content:'\f048';}
.abtn.upload::before {content:'\f049';}.icn.upload::before {content:'\f049';}

.abtn.document::before {content:'\f11e';}.icn.document::before {content:'\f11e';}
.abtn.doc::before {content:'\f11e';}.icn.doc::before {content:'\f11e';}
.abtn.pdf::before {content:'\f122';}.icn.pdf::before {content:'\f122';}
.abtn.msword::before {content:'\f248';}.icn.msword::before {content:'\f248';}
.abtn.xls::before {content:'\f245';}.icn.xls::before {content:'\f245';}
.abtn.toexcel::before {content:'\f245';}.icn.toexcel::before {content:'\f245';}
.abtn.file_txt::before {content:'\f22c';}.icn.file_txt::before {content:'\f22c';}
.abtn.file_pdf::before {content:'\f122';}.icn.file_pdf::before {content:'\f122';}
.abtn.file_zip::before {content:'\f22d';}.icn.file_zip::before {content:'\f22d';}
.abtn.file_doc::before {content:'\f248';}.icn.file_doc::before {content:'\f248';}
.abtn.file_docx::before {content:'\f248';}.icn.file_docx::before {content:'\f248';}
.abtn.file_xls::before {content:'\f245';}.icn.file_xls::before {content:'\f245';}
.abtn.file_xlsx::before {content:'\f245';}.icn.file_xlsx::before {content:'\f245';}
.abtn.file_ppt::before {content:'\f247';}.icn.file_ppt::before {content:'\f247';}
.abtn.file_pptx::before {content:'\f247';}.icn.file_pptx::before {content:'\f247';}
.abtn.file_vsd::before {content:'\f24a';}.icn.file_vsd::before {content:'\f24a';}
.abtn.file_vsdx::before {content:'\f24a';}.icn.file_vsdx::before {content:'\f24a';}
.abtn.account::before {content:'\f0ea';}.icn.account::before {content:'\f0ea';}
.abtn.map::before {content:'\f0d9';}.icn.map::before {content:'\f0d9';}
.abtn.location::before {content:'\f12d';}.icn.location::before {content:'\f12d';}
.abtn.site::before {content:'\f0f8';}.icn.site::before {content:'\f0f8';}
.abtn.asset::before {content:'\f0c4';}.icn.asset::before {content:'\f0c4';}

.abtn.system::before {content:'\f0cb';}.icn.system::before {content:'\f0cb';}
.abtn.product::before {content:'\f0c4';}.icn.product::before {content:'\f0c4';}

.abtn.books::before {content:'\f0d5';}.icn.books::before {content:'\f0d5';}
.abtn.controller::before {content:'\f1cd';}.icn.controller::before {content:'\f1cd';}
.abtn.iointerface::before {content:'\f1ce';}.icn.iointerface::before {content:'\f1ce';}
.abtn.iomodule::before {content:'\f1b2';}.icn.iomodule::before {content:'\f1b2';}
.abtn.io::before {content:'\f29e';}.icn.io::before {content:'\f29e';}
.abtn.controlio::before {content:'\f29e';}.icn.controlio::before {content:'\f29e';}
.abtn.controlinput::before {content:'\f29a';}.icn.controlinput::before {content:'\f29a';}
.abtn.controloutput::before {content:'\f29b';}.icn.controloutput::before {content:'\f29b';}
.abtn.signal::before {content:'\f29d';}.icn.signal::before {content:'\f29d';}
.abtn.softwarefunction::before {content:'\f10e';}.icn.softwarefunction::before {content:'\f10e';}
.abtn.freedraw::before {content:'\f2d5';}.icn.freedraw::before {content:'\f2d5';}
.abtn.plm::before {content:'\f0c6';}.icn.plm::before {content:'\f0c6';}
.abtn.se::before {content:'\f0c6';}.icn.se::before {content:'\f0c6';}
.abtn.crm::before {content:'\f0ec';}.icn.crm::before {content:'\f0ec';}


.abtn.select::before {content:'\f52c';}.icn.select::before {content:'\f52c';}
